<!DOCTYPE html>
<html>
<head>
	<title>Login/Register</title>
</head>
<body>
	<h1>Welcome!</h1>
	<h3>Register</h3>
	<form action="{% url 'loginreg:register' %}" method="post">
		{% csrf_token %}
		Name: <input type="text" name="name">
		Alias: <input type="text" name="alias">
		Email: <input type="text" name="email">
		Password: <input type="text" name="password">
		Confirm PW: <input type="text" name="dblcheck">
		<h5>*Password should be at least 8 characters</h5>
		<input type="submit" value="Register">
	</form>
	<h3>Login</h3>
	<form action="{% url 'loginreg:login' %}" method="post">
		{% csrf_token %}
		Email: <input type="text" name="email">
		Password: <input type="password" name="password">
		<input type="submit" value="Login">
	</form>
	{% for item in errors.values %}
	<p>{{item}}</p>
	{% endfor %}
</body>
</html>