<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>ADD A NEW COURSE</h2>
	<form action="{% url 'course_add' %}" method="post">
		{% csrf_token %}
		<input type="text" name="name">
		<textarea name="description"></textarea>
		<input type="submit" value="Add">
	</form>
	<h1>Courses</h1>
	<table>
		<tr>
			<th>Course</th>
			<th>Title</th>
			<th>Number of Users</th>
			<th>Actions</th>
		</tr>
		{% for course in courses %}
		<tr>
			<td>{{course.name}}</td>
			<td>{{course.description}}</td>
			<td><a href="{% url 'course_startdestroy' id=course.id %}"><button>Delete</button></a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>