<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h7><a href="{% url 'reviews:home' %}">Home</a></h7>
	<h7><a href="{% url 'loginreg:logoff' %}">Logout</a></h7>
	<h2>Add a New Book Title and a Review:</h2>
	<form action="{% url 'reviews:submit' %}" method="post">
		{% csrf_token %}
		<h5>Book Title:</h5>
		<input type="text" name="title">
		<h5>Author:</h5>
		Choose from the list: 

		<select name="author">
			{% for review in reviews %}
			<option value="{{review.book}}">{{review.book.author}}</option>
			{% endfor %}
		</select>
		
		Or add a new author: 
		<input type="text" name="newauthor">
		<h5>Review: </h5>
		<input type="text" name="review">
		<h5>Rating: </h5>
		<select name="rating">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
		</select>
		<input type="submit" value="Add">
	</form>
</body>
</html>